@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 10px;

	/*Iniciando o background*/
	--bg: #f7f7f7;
	--bg-header:#f7f7f7;
	--color-headings: #000;
	--gradientLeft:#898989;
	--gradientRight:#fff;  
}

body {
	padding-top: 56px;
	font-family: 'Open Sans', sans-serif;
	background-color: var(--bg);
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

button {
	background-color: transparent;
	border: none;
	box-shadow: none;
	outline: none;
}

.container {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 728px) {
	.container {
		width: 728px;
	}
}

.topbar {
	backface-visibility: hidden;
	background-color: var(--bg-header);
	left: 0;
	padding: 8px 16px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
}

.topbar .container {
	display: flex;
	justify-content: space-between;
}

.topbar__logo {
	display: inline-block;
	height: 40px;
}

figure.icon__change {
	background: url(../img/instagram-logo-normal.svg) no-repeat left;
	height: 100% ;
}

.iconeLogo {
	mask: url('../img/instagram-logo-normal.svg') no-repeat;
	-webkit-mask: url('../img/instagram-logo-normal.svg') no-repeat;
	width: 130px;
	height: 100%;
}

.icone {
	display: inline-block;
}

.whiteIcon {
	background-color: var(--color-headings);
}

.topbar__icon {
	font-size: 1.8rem;
}

.user__thumb {
	display: flex;
	border-radius: 100%;
	overflow: hidden;
}

.user__thumb__wrapper {
	border-radius: 100%;
	border: 2px solid white;
	display: inline-block;
	overflow: hidden;
}

.user__thumb img {
	height: 100%;
	width: 100%;
}

.user__thumb--hasNew {
	background: linear-gradient(55deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.stories {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	overflow-x: auto;
}

.stories::-webkit-scrollbar {
	display: none;
}

.stories__container {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 2px solid var(--color-headings);
}

.stories__item {
	cursor: pointer;
	width: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	margin-right: 7px;
}

.stories__item__label {
	margin-top: 2px;
	font-size: 10px;
	color:var(--color-headings);
}

.stories__item:nth-child(1):after {
	content: "+";
	font-weight: bold;
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	color: white;
	position: absolute;
	bottom: 23px;
	right: 5px;
	border-radius: 50%;
	background: black;
	width: 22px;
	height: 22px;
	border: 2px solid white;
}

.stories__item--active {
	border-radius: 50%;
	background: linear-gradient(to bottom, red, #d2a046);
	padding: 3px 3px 3px 3px;
}

.stories__item__img {
	display: flex;
	width: 60px;
	padding: 3px;
	background: white;
	border-radius: 100%;
	overflow: hidden;
}


.feed {
	width: 100%;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 728px) {
	.feed {
		padding: 16px 0;
	}
}

.post {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 45px;
}

.post__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 8px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
	background-color: var(--color-left);
}

.post__header .user {
	display: flex;
	align-items: center;
}

.post__header .user__thumb {
	height: 40px;
	margin-right: 8px;
	width: 40px;
}

.post__header .user__name {
	color: var(--color-headings);
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
}

.post__context {
	font-size: 1.4rem;
}

.post__figure {
	overflow: hidden;
	margin: 0;
	height: auto;
	width: 100%;
}

.post__figure img {
	width: 100%;
}

.post__controls {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	align-items: center;
	padding: 4px 0;
}

.post__control {
	font-size: 2.4rem;
	margin: 0 8px;
}


.post__control:last-of-type {
	justify-self: flex-end;
	margin-left: auto;
}

.post__status {
	display: flex;
	padding: 8px;
	background-color: rgba(14, 12, 12, 0.05);
}

.post__status .user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.post__status .user span {
	font-size: 1.2rem;
}

.post__status .user__thumb {
	height: 30px;
	width: 30px;
	margin-right: 8px;
}

.toggle {
	display: flex;
	padding-left: 10px;
}

input[type=checkbox]{
  height: 0;
  width: 0;
	visibility: hidden;
}

label {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
	height: 30px;
  background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#e52e71));
  border-radius: 100px;
  position: relative;
}

label::after{
  content: '';
  position: absolute;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: rgb(224, 208, 208);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--color-headings);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}