.topbar {
  backface-visibility: hidden;
  background-color: #16202B;
  left: 0;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.topbar .container {
  display: flex;
  justify-content: space-between;
}

.topbar__logo {
  display: inline-block;
  height: 40px;
}

.topbar__logo svg {
  height: 100%;
}

.topbar__group {
  display: flex;
  justify-content: flex-end;
}

.topbar__icon,
.topbar__icon a {
  align-items: center;
  color: #858D93;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: normal;
  justify-content: center;
  margin: auto 0.5rem;
  transition: all 0.2s ease-in-out;

  span {
    display: none;
  }
}

.topbar__icon {
  a {
    &:hover {
      color: white;
    }
  }
}

@media screen and (min-width: 728px) {
  .topbar__icon,
  .topbar__icon a {
    margin: auto 0.5rem;

    span {
      display: inline-block;
      font-size: 1.1rem;
    }
  }
}
